body {
    text-align: center;
    line-height: 2em;
}

#wrapper {
    width: 400px;
    margin: auto;
}

#wrapper p {
    text-align: left;
}

button {
    text-align: center;
}

#transaction1 {
    color: darkred;
}
#transaction2 {
    color: darkred;
}
#transaction3 {
     color: darkred;
 }

p#transaction1 {
    text-align: center;
}
p#transaction2 {
    text-align: center;
}
p#transaction3 {
    text-align: center;
}